* {
    font-family: 'Londrina Solid', cursive;
}

h1 {
    color: red;
    background-color: black;
    padding: 10px;
    margin: 0;
}

h2 {
    margin: 10px;
    color: white;
    background-color: black;
    padding: 5px 10px;
}

h3, p {
    margin-left: 10px;
}

span {
    color: black;
    text-shadow: 1px 1px grey;
}

img {
    width: 30%;
    float: left;
    margin: 10px 10px;
}

.genre {
    background-color: steelblue;
    color: white;
    padding: 10px;
    border: 2px dotted black;
    border-left: 3px dotted black;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    max-width: 625px;
    margin: 0 auto;
}

.movie {
    height: 350px;
}